/* General */
@font-face {
  font-family: BerkeleyMono;
  src: url('/css/BerkeleyMono-Regular.woff2') format('woff2'),
    url('/css/BerkeleyMono-Regular.woff') format('woff');
}
:root {
	--blue0: #F2F7F9;
	--blue1: #D3DDEA;
	--blue2: #CDECEF;
	--blue3: #2B91AD;
	--blue4: #1F677A;
	--orange1: #F6C7AC;
	--orange2: #FFB58A;
	--orange3: #ff8822;
	--orange4: #ff6600;
	--white: #FFFFFF;
	--gray1: #777777;
	--gray2: #333333;

}
body {
	margin: 0;
	line-height: 1.5em;
	color: var(--gray2);
	font-family: 'BerkeleyMono', monospace;
}
img {
	max-width: 60%;
	height: auto;
}
h1, h2, h3, h4, h5, h6 {
	margin-bottom: 0;
	line-height: 1em;
	margin-top: .5em;
}
article.book-reviews h1,
article.blog h1,
article.links h1,
article.charts h1 {
	padding-right: 10em;
}
table {
	width: 100%;
	border: thin dashed var(--orange2);
}
h1 span.subtitle {
	font-size: 0.75em;
}
a:link, a:visited {
	color: var(--blue3);
	text-decoration: none
}
a:hover, a:active {
	color: var(--blue4);
	text-decoration: underline
}

nav section,
header section,
main,
footer section {
	max-width: 50em;
	margin-left: auto;
	margin-right: auto;
	padding: 0;
}
/* Navigation panel */
nav {
	background: var(--blue1);
	border-bottom: thin solid var(--orange2);
	line-height: 2em;
}
nav a {
	padding-left: .5em;
	padding-right: .5em;
	display: inline-block;
}
nav a:link,
nav a:visited,
div.tags ul li a:link,
div.tags ul li a:visited {
	color: var(--blue3);
}
nav a:hover,
nav a:active,
nav a.home:hover,
nav a.home:active,
div.tags ul li a:hover,
div.tags ul li a:active {
	color: var(--blue4);
	background-color: var(--orange2);
	text-decoration: none;
}
nav a.home {
	background: var(--orange1);
}
@media screen and (min-width: 600px) {
	nav .links {
		float: right;
	}
}
/* Footer */
footer {
	background: var(--blue2);
	border-top: thin solid var(--orange2);
	padding: .25em 0;
	text-align: center;
}
footer section p {
	font-size: 0.8em;
}
footer a {
	margin-right: 1em;
}
footer a:last-child {
	margin-right: 0;
}
/* Posts */
blockquote p {
	border-left: thick solid var(--orange1);
	padding-left: 1em;
}
article {
	padding: 1em;
	background-color: var(--blue0);
}
article h2 a:link,
article h2 a:visited,
article h1 a:link,
article h1 a:visited,
.more:link,
.more:visited {
	color: var(--blue4);
}
article h2 a:hover,
article h2 a:active,
article h1 a:hover,
article h1 a:active,
.more:hover,
.more:active {
	color: var(--orange2);
}
article.blog img {
	display: block;
	margin: auto;
}
article.links img {
	padding: .2em;
	border: thin dashed var(--orange2);
	max-width: 30em;
}
p.meta {
	margin-top: 0;
	font-size: 0.8em;
	color: var(--gray1);
	font-style: italic;
}
p.summary {
	margin-top: 0.25em;
	margin-bottom: 0.25em;
}
ul.review {
	list-style-type: none;
	margin: .5em;
	padding: .5em;
	text-align: center;
	border-top: thin solid var(--orange2);
}
ul.review li {
	display: inline-block;
}
ul li.read-date {
	float:left;
}
ul li.format {
	float:right;
}
tr.even {
	background-color: var(--blue0);
}
tr.odd {
	background-color: var(--white);
}
tr.header {
	background-color: var(--blue1);
}
div .more {
	margin-top: 0;
	font-weight: bold;
}
div.tags ul,
ul.prior_next {
	list-style-type: none;
	margin: 0;
	padding: 0;
	padding-block: .25em;
	display: inline-block;
	width: 100%;
}

div.tags ul li {
	display: inline;
	background: var(--orange1);
	padding: .25em;
}
div.home-blog,
article.blog,
div.home-links,
article.links,
div.home-book-reviews,
article.book-reviews,
div.home-charts,
article.charts {
	display: block;
	background-position: right top;
	background-repeat: no-repeat;
}
div.home-blog,
article.blog div.blog {
	background-image: url("/img/blog.svg");
}
div.home-links,
article.links {
	background-image: url("/img/link.svg");
}
div.home-book-reviews,
article.book-reviews {
	background-image: url("/img/book-reviews.svg");
}
div.home-charts,
article.charts div.charts {
	background-image: url("/img/charts.svg");
}

article.book-reviews,
article.links {
	background-size: 10em 10em;
}

article.book-reviews div.book-reviews,
article.blog div.blog,
article.links div.links,
article.charts div.charts {
	display: block;
	float: right;
	height: 10em;
	width: 10em;
}
ul.prior_next li {
	display: inline;
	width: 50%;
}

ul.prior_next li.prior{
	float: left;
}

ul.prior_next li.next{
	float: right;
	text-align: right;
}

img.book_cover,
article.links img {
	display:block;
	margin-top: 1em;
	margin-left: auto;
	margin-right: auto;
}

img.book_cover {
	max-height: 400px;
}

img[src*="#image_right"] {
	float: right;
	margin-left: 1em;
}

img[src*="#image_left"] {
	float: left;
	margin-right: 1em;
}

/* RSS */
.rss {
	padding: 0.3em 0.35em;
	border-radius: 0.25em;
	font-size: 0.75em;
	font-weight: bold;
}
.rss:link,
.rss:visited,
.rss:hover,
.rss:active {
	color: var(--white);
	text-decoration: none;
}
.rss:link,
.rss:visited {
	background: var(--orange4);
}
.rss:hover,
.rss:active {
	background: var(--orange3);
}